<a href="https://colab.research.google.com/github/dasom17/test1/blob/main/22_2_py_cen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
다음 보기의 사칙연산을 완성하시오. (한줄에 모두, 여러줄로 나누어서, 보기 좋게 정리하시오.)
보기: 1  +  2, 2 - 3, 3 * 4, 4 / 4

In [ ]:
print(1+2, 2-3, 3*4, 4/4)
print(1+2)
print(2-3)
print(3*4)
print(4/4)

3 -1 12 1.0
3
-1
12
1.0

아래의 출력화면을 간결하고 보기좋게 코딩하시오.

****************************************
* 제1조 1항 대한민국은민주공화국이다. *
****************************************

In [ ]:
print("*" * 40)
print("* 제1조 1항 대한민국은민주공화국이다. *")
print("*" * 40)

****************************************
* 제1조 1항 대한민국은민주공화국이다. *
****************************************

사용자에게 성명, 나이, 주소를 입력받아서 출력하라.

In [ ]:
name = input("성명을 입력하세요.")
age = input("나이를 입력하세요.")
addr = input("주소를 입력하세요")
print(name)
print(age)
print(addr)
print(name, age, addr)

성명을 입력하세요.노다솜
나이를 입력하세요.20
주소를 입력하세요전북  군산시 영명길
노다솜
20
전북  군산시 영명길
노다솜 20 전북  군산시 영명길

결과 깔끔하게 나오면 추가점수

In [ ]:
name = input("성명을 입력하세요.")

print(name)

print(name, age, addr)

SyntaxError: ignored

터틀그래픽 사용법에 대해서 코딩하고 설명하시오.